@import "tailwindcss";

@theme {
    /* Crextio Palette */
    --color-cream-bg: #fdfcf6;
    --color-card-white: #ffffff;
    --color-yellow-accent: #f4e285;
    --color-yellow-bold: #facc15;
    --color-text-main: #1f2937;
    --color-text-muted: #6b7280;
}

body {
    background-color: var(--color-cream-bg);
    color: var(--color-text-main);
}
